.Button {
  width: 100px;
  border-radius: 10px;
  border: solid 1px solid;
  background: yellow;
  padding: 15px;
  cursor: pointer;
}

.Button:focus {
  outline-width: 0;
}

.Button:active {
  background: red;
  color: white;
}
